@tailwind base;
@tailwind components;
@tailwind utilities;

*, ::before, ::after {
  @apply border-primary-200 dark:border-primary-700;
}

html {
  font-family: 'Nunito', Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  @apply bg-primary-100 text-primary-900;

  &.dark {
    @apply bg-primary-900 text-primary-200;
  
  }
}
input, textarea {
  @apply dark:bg-primary-900;
}
